apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 3
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp-container
        image: 740580894540.dkr.ecr.us-east-1.amazonaws.com/webapp_nubila_ecr:v0.1
        ports:
        - containerPort: 8080
        env:
        - name: DBPWD
          value: "pw"
        - name: DBPORT
          value: "3306"
        - name: DBHOST
          value: "mysql"
        - name: DBUSER
          value: "root"
        - name: APP_NAME
          value: "my_app"
        - name: DATABASE
          value: "my_db"
      restartPolicy: Always
